main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.brand-color {
  color: var(--brand-color);
}
.italic {
  font-style: italic;
}
.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 6px; /* место для SVG */
}
@media screen and (max-width: 400px) {
  .underline-draw {
    width: 143px;
  }
}
.background-image {
  position: absolute;
  object-fit: cover;
  inset: 0;
}
.acrive::after {
  content: "";
  background-image: url("../assets/images/nav-active.svg");
}
.underline-draw {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
}
.underline-draw-custom {
  position: absolute;
  left: 0;
  bottom: -21px;
  height: auto;
}

.underline-draw svg {
  display: block;
}
.mobile {
  display: none !important;
}
.desktop {
  display: flex;
}

@media (max-width: 1025px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex !important;
  }
}
.large {
  height: 150vh;
}
