@import "_mixins.scss";
.showcase {
  margin-top: auto;
  z-index: 2;
}
.showcase__title {
  color: var(--text-color-white);
  /* font-size: var(--fs-46); */
  @include fluid-text(32px, 46px, 400px, 1440px);
  margin-bottom: 1.25rem;
}
.showcase__description {
  color: var(--text-color-white);
  font-size: var(--fs-14);
  margin-bottom: 1.25rem;
  letter-spacing: 2%;
}
.showcase__cta-button {
  color: var(--text-color-white);
  font-size: var(--fs-18);
  margin-bottom: 3.75rem;
}
.showcase__toolbar {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-white);
  font-size: var(--fs-14);
  margin-bottom: 1rem;
}
