:root {
  --background-color: #f8f2e9;
  --background-color-white: #ffffff;
  --brand-color: #57718c;
  --border-color: #cbdae9;
  --border-color-white: rgba(255, 255, 255, 0.5);
  --text-color-primary: #333333;
  --text-color-secondary: #444444;
  --text-color-tertiary: #222222;
  --text-color-fourth: #666666;
  --text-color-white: #ffffff;
  --card-color: #fff9f0;
  --card-border: #f7eee0;
  --play-button-background: rgba(247, 235, 215, 0.5) /* font tokens */
    --fs-12: 12px;
  --fs-14: 0.875rem;
  --fs-18: 18px;
  --fs-46: 46px;
  --fs-54: 54px;
  --fs-64: 64px;

  --ff-main: "Playfair Display", "serif";
}
:root {
  --size-unit: 16; /* body font-size in design - no px */
  --size-container-ideal: 1440; /* screen-size in design - no px */
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(
    var(--size-container-min),
    100vw,
    var(--size-container-max)
  );
  --size-font: calc(
    var(--size-container) / (var(--size-container-ideal) / var(--size-unit))
  );
}
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 440; /* screen-size in design - no px */
    --size-container-min: 0px;
    --size-container-max: 479px;
  }
}
