main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.brand-color {
  color: var(--brand-color);
}
.italic {
  font-style: italic;
}

/* @media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex !important;
  }
} */
