main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.brand-color {
  color: var(--brand-color);
}
.italic {
  font-style: italic;
}
.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 12px; /* место для SVG */
}
.background-image {
  position: absolute;
  object-fit: cover;
  inset: 0;
}

.underline-draw {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.underline-draw svg {
  display: block;
}
.mobile {
  display: none !important;
}
.desktop {
  display: flex !important;
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex !important;
  }
}
