@charset "UTF-8";
* {
  font-family: var(--ff-main);
}

html {
  background-color: var(--background-color);
  font-size: var(--size-font);
}

h1 {
  font-size: var(--fs-64);
  line-height: var(--lh-64);
}

h2 {
  font-size: var(--fs-54);
  line-height: var(--lh-54);
  /* color: var(--text-color-secondary); */
  font-weight: 400;
  /* text-align: center; */
}
h2 span {
  word-break: break-word;
}
:root {
  --background-color: #f8f2e9;
  --background-color-white: #ffffff;
  --brand-color: #57718c;
  --border-color: #cbdae9;
  --border-color-white: rgba(255, 255, 255, 0.3);
  --text-color-tertiary: #222222;
  --text-color-primary: #333333;
  --text-color-secondary: #444444;
  --text-color-fifth: #555555;
  --text-color-fourth: #666666;
  --text-color-white: #ffffff;
  --card-color: #fff9f0;
  --card-border: #f7eee0;
  --play-button-background: rgba(247, 235, 215, 0.5);

  /* font tokens */

  --ff-main: "Playfair Display", "serif";

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-32: 2rem;
  --fs-42: 2.625rem;
  --fs-46: 2.875rem;
  --fs-52: 3.25rem;
  --fs-54: 3.375rem;
  --fs-64: 4rem;

  --lh-12: 1rem;
  --lh-14: 1.1875rem;
  --lh-16: 1.3125rem;
  --lh-18: 1.125rem;
  --lh-32: 2rem;
  --lh-42: 2.625rem;
  --lh-46: 3.1625rem;
  --lh-52: 3.25rem;
  --lh-54: 3.375rem;
  --lh-64: 4rem;

  /* margin tokens */
  --section-margin: 3.125rem;
}
@media (max-width: 1024px) {
  :root {
    --section-margin: 1.25rem;
  }
}

@media (max-width: 630px) {
  :root {
    --fs-46: 2.5rem;
    --fs-54: 2.8rem;

    --lh-46: 2.75rem;
    --lh-54: 2.8rem;
  }
}

@media (max-width: 425px) {
  :root {
    --fs-46: 2rem;
    --fs-54: 2.3rem;
    --fs-64: 3.25rem;

    --lh-46: 2.2rem;
    --lh-54: 2.3rem;
    --lh-64: 3.25rem;
  }
}
@media (max-width: 375px) {
  :root {
    --fs-64: 2.5rem;
    --lh-64: 2.5rem;
  }
}

section {
  display: -webkit-box;
  background-color: var(--background-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.section-column {
  width: 100%;
  margin: var(--section-margin);
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.section-column__wrapper {
  height: 100%;
  /* max-height: 100dvh; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 1rem;
}

.section-column__wrapper-inner {
  height: 100%;
  max-width: 38.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-column__wrapper_menu {
  margin-top: 5.125rem;
}

@media (max-width: 1024px) {
  .section-column__wrapper-inner {
    align-items: stretch;
  }
  .section-column__wrapper_menu {
    margin-top: 0;
  }
  .section-column__wrapper {
    margin-top: 3rem;
  }
}

.column-showcase {
  height: 100vh;
  position: sticky;
  top: 0;
}

.section__title {
  color: var(--text-color-secondary);
  font-weight: 400;
  text-align: center;
}

.brand-color {
  color: var(--brand-color);
}

.underline {
  position: relative;
  overflow: hidden;
  /* display: inline-block; */
  padding-bottom: 6px;
  /* место для SVG */
}
.underline-draw-custom {
  position: absolute;
  left: 0;
  bottom: -2.7rem;
  height: auto;
}

.active span {
  position: relative;
}

.svg-item {
  stroke: var(--brand-color);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.links__item span::after {
  content: "";
  background-image: url("../assets/icons/sign/nav-active.svg");
  position: absolute;
  display: block;
  height: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -4px;
  left: -10%;
  width: 0%;
  transition: width 0.4s ease-out 0.2s;
}
.mobile-link span::after {
  content: "";
  background-image: url("../assets/icons/sign/nav-active.svg");
  position: absolute;
  display: block;
  height: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -4px;
  left: -10%;
  width: 0%;
  transition: width 0.4s ease-out 0.2s;
}

.active span::after {
  width: 120%;
}

.background-image {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  inset: 0;
}
.underline-draw {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.underline-draw svg {
  display: block;
  width: inherit;
}
.underline-draw-custom svg {
  display: block;
  width: inherit;
}

.mobile {
  display: none;
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1025px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.large {
  height: fit-content;
}

.text {
  color: var(--text-color-secondary);
  font-size: var(--fs-14);
  line-height: var(--lh-14);
  max-width: 38.75rem;
}

/* Tailwind-like classes */

.italic {
  font-style: italic;
}

.mt-4 {
  margin-top: 4rem; /* 64px */
}

.mt-25 {
  margin-top: 2.5rem; /* 40px */
}

.pb-4 {
  padding-bottom: 4rem; /* 64px */
}

.pb-25 {
  padding-bottom: 2.5rem; /* 40px */
}

.pt-4 {
  padding-top: 4rem; /* 64px */
}

.pt-25 {
  padding-top: 2.5rem; /* 40px */
}

.fs-12 {
  font-size: var(--fs-12) !important;
  line-height: var(--lh-12) !important;
}

.fs-54 {
  font-size: var(--fs-54) !important;
  line-height: var(--lh-54) !important;
}

.fs-64 {
  font-size: var(--fs-64) !important;
  line-height: var(--lh-64) !important;
}

.text-center {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .snap-column-0-0 {
    order: 0;
  }
  .snap-column-0-1 {
    order: 1;
  }
  .snap-column-1-1 {
    order: 2;
  }
  .snap-column-1-0 {
    order: 3;
  }
  .snap-column-2-0 {
    order: 4;
  }
  .snap-column-2-1 {
    order: 5;
  }
  .snap-column-3-1 {
    order: 6;
  }
  .snap-column-3-0 {
    order: 7;
  }
  .snap-column-4-0 {
    order: 8;
    min-height: unset !important;
  }
  .snap-column-4-1 {
    order: 9;
  }
  .snap-column-5-0 {
    order: 11;
  }
  .snap-column-5-1 {
    order: 10;
  }
  .snap-column-6-0 {
    order: 12;
  }
  .snap-column-6-1 {
    order: 13;
  }
  .snap-column-7-0 {
    order: 14;
  }
  .snap-section-full {
    display: contents;
  }

  .pt-4 {
    padding-top: 0;
  }
  .pt-25 {
    padding-top: 0;
  }
}
.section-full {
  width: 100%;
}

.column-content--sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - 2 * var(--section-margin));
  padding: var(--section-margin);
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  html {
    /* scroll-padding-top: 69px; */
  }
}

.advantages-image {
  flex: 1;
}
.advantages-image img {
  aspect-ratio: 1;
  width: 100%;
  display: block;
}

@media (max-width: 1025px) {
  .advantages-image {
    width: 80%;
  }
  .advantages-image:last-child {
    display: none !important;
  }

  .advantages-image img {
    /* aspect-ratio: 18 / 9; */
  }

  .advantages-image:first-child img {
    object-position: 0% 10%;
    aspect-ratio: unset;
  }

  .advantages-image:last-child img {
    object-position: 0% 80%;
  }
}

/* 
  * Картинки для колонок
*/

.hero-aware-image img {
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -moz-transform: scale(1.4); /* Firefox */
  -ms-transform: scale(1.4); /* IE 9 */
  -o-transform: scale(1.4); /* Opera */
  transform: scale(1.4);
  transform-origin: 60% 70%;
}

.hero-aware-image:before {
  content: "";
  z-index: 1;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}
