@charset "UTF-8";
* {
  font-family: var(--ff-main);
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  background-color: var(--background-color);
}

html,
body {
  block-size: 100%;
  font-size: var(--size-font);
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

p {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: flex;
  flex-direction: column;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
button {
  all: unset;
  cursor: pointer;
  display: block;
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

h1 {
  font-size: var(--fs-64);
  line-height: var(--lh-64);
  margin: 0;
}

h2 {
  margin: 0;
  font-size: var(--fs-54);
  color: var(--text-color-secondary);
  font-weight: 400;
  /* text-align: center; */
}
h2 span {
  word-break: break-word;
}
:root {
  --background-color: #f8f2e9;
  --background-color-white: #ffffff;
  --brand-color: #57718c;
  --border-color: #cbdae9;
  --border-color-white: rgba(255, 255, 255, 0.5);
  --text-color-tertiary: #222222;
  --text-color-primary: #333333;
  --text-color-secondary: #444444;
  --text-color-fourth: #666666;
  --text-color-white: #ffffff;
  --card-color: #fff9f0;
  --card-border: #f7eee0;
  --play-button-background: rgba(247, 235, 215, 0.5);

  /* font tokens */

  --ff-main: "Playfair Display", "serif";

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-46: 2.875rem;
  --fs-54: 3.375rem;
  --fs-64: 4rem;

  --lh-12: 1rem;
  --lh-14: 1.1875rem;
  --lh-16: 1.3125rem;
  --lh-46: 3.1625rem;
  --lh-54: 3.375rem;
  --lh-64: 4rem;

  /* margin tokens */
  --section-margin: 3.125rem;

  @media (max-width: 1024px) {
    --section-margin: 1.25rem;
  }
}
:root {
  /* базовая "скейлинг" переменная: сумма 1vh + 1vw */
  /* --size-font: 1rem; */

  /* ограничения (опционально): минимальный и максимальный размер */
  --size-font-min: 12px;
  --size-font-max: 28px;

  /* защищённый (clamped) вариант, который не уйдёт ниже/выше лимитов */
  --size-font-clamped: clamp(
    var(--size-font-min),
    var(--size-font),
    var(--size-font-max)
  );

  /* если хочется работать в rem: задаём базовый rem и переводим.
     Обратите внимание — можно комбинировать rem и vh/vw в calc. */
  --root-rem: 1rem; /* обычно 16px */
  --size-font-rem: calc(0.5rem + (var(--size-font-clamped) * 0.25));
}
section {

  display: -webkit-box;
  background-color: var(--background-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-column {
  width: 100%;
  margin: var(--section-margin);
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.section-column__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 1rem;
}

.section-column__wrapper-inner {
  max-width: 38.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-column__wrapper_menu {
  margin-top: 5.125rem;
}
.column-showcase {
  height: 100vh;
  position: sticky;
  top: 0;
}


.section__title {
  color: var(--text-color-secondary);
  font-weight: 400;
  text-align: center;
}
@media (max-width: 470px) {
  h2 {
    font-size: 2.875rem;
  }
}

main {
  -ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.brand-color {
  color: var(--brand-color);
}

.italic {
  font-style: italic;
}

.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  /* место для SVG */
}
.underline-draw-custom {
  position: absolute;
  left: 0;
  bottom: -2.7rem;
  height: auto;
}

.active span {
  position: relative;
}

.svg-item {
  stroke: var(--brand-color);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.links__item span::after {
  content: "";
  background-image: url("../assets/icons/sign/nav-active.svg");
  position: absolute;
  display: block;
  height: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -4px;
  left: -10%;
  width: 0%;
  transition: width 0.4s ease-out 0.2s;
}
.mobile-link span::after {
  content: "";
  background-image: url("../assets/icons/sign/nav-active.svg");
  position: absolute;
  display: block;
  height: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -4px;
  left: -10%;
  width: 0%;
  transition: width 0.4s ease-out 0.2s;
}

.active span::after {
  width: 120%;
}

.background-image {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  inset: 0;
}

.underline-draw svg {
  display: block;
  width: inherit;
}
.underline-draw-custom svg {
  display: block;
  width: inherit;
}

.mobile {
  display: none;
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1025px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.large {
  height: fit-content;
}

.showcase {
  /* margin-top: auto; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 2;
}

.showcase__wrapper {
  margin-bottom: 4rem;
}

.showcase__title {
  color: var(--text-color-white);
  margin-bottom: 1.25rem;
  font-size: var(--fs-46);
  line-height: var(--lh-46);
}
@media (max-width: 470px) {
  .showcase__title {
    font-size: 2rem;
    line-height: 2.1rem;
  }
}

.showcase__description {
  margin-bottom: 1.5rem;
  color: var(--text-color-white);
  font-size: var(--fs-14);
  line-height: var(--lh-14);
}

.showcase__cta-button {
  margin-top: 1.25rem;
  color: var(--text-color-white);
  font-size: var(--fs-18);
  width: fit-content;
}

.showcase__cta-button:hover .underline-draw {
  width: 100%;
}

.showcase__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--text-color-white);
  font-size: var(--fs-14);
  margin-bottom: 1rem;
}
/*# sourceMappingURL=styles.css.map */

.text {
  color: var(--text-color-secondary);
  font-size: var(--fs-14);
  line-height: var(--lh-14);
}

/* Tailwind-like classes */
.mt-4 {
  margin-top: 4rem; /* 64px */
}

.mt-25 {
  margin-top: 2.5rem; /* 40px */
}

.pb-4 {
  padding-bottom: 4rem; /* 64px */
}

.pb-25 {
  padding-bottom: 2.5rem; /* 40px */
}

.pt-4 {
  padding-top: 4rem; /* 64px */
}

.pt-25 {
  padding-top: 2.5rem; /* 40px */
}
@media (max-width: 1024px) {
  .pt-25 {
    padding-top: 6.5rem; /* 40px */
  }
}
.fs-12 {
  font-size: var(--fs-12);
  line-height: var(--ls-12);
}

.fs-64 {
  font-size: var(--fs-64);
  line-height: var(--ls-64);
}

.text-center {
  text-align: center;
}
@media (max-width: 1024px) {
  .snap-column-0-0 {
    order: 0;
  }
  .snap-column-0-1 {
    order: 1;
  }
  .snap-column-1-1 {
    order: 2;
  }
  .snap-column-1-0 {
    order: 3;
  }
  .snap-column-2-0 {
    order: 4;
  }
  .snap-column-2-1 {
    order: 5;
  }
  .snap-column-3-1 {
    order: 6;
  }
  .snap-column-3-0 {
    order: 7;
  }
  .snap-column-4-0 {
    order: 8;
    min-height: unset !important;
  }
  .snap-column-4-1 {
    order: 9;
  }
  .snap-column-5-0 {
    order: 11;
  }
  .snap-column-5-1 {
    order: 10;
  }
  .snap-column-6-0 {
    order: 12;
  }
  .snap-column-6-1 {
    order: 13;
  }
  .snap-column-7-0 {
    order: 14;
  }
  .snap-section-full {
    display: contents;
  }
}
.section-full {
      width: 100%;
    }
/* @media (max-width: 450px) {
  .snap-column-1-1 {
    order: 2;
    min-height: 120vh !important;
  }
  .snap-column-2-0 {
    order: 4;
    min-height: 120vh !important;
  }
  .snap-column-5-1 {
    order: 10;
    min-height: 120vh !important;
  }
  .snap-column-6-0 {
    order: 12;
    min-height: 120vh !important;
  }
} */
.column-content--sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - 2 * var(--section-margin));
  padding: var(--section-margin);
  margin-bottom: 0;
}
.snap-column-4-1 > .section-column {
  margin: 0;
}
path {
  fill: currentColor;
}