:root {
  --background-color: #f8f2e9;
  --background-color-white: #ffffff;
  --brand-color: #57718c;
  --border-color: #cbdae9;
  --border-color-white: #ffffff;
  --text-color-primary: #333333;
  --text-color-secondary: #444444;
  --text-color-tertiary: #222222;
  --text-color-white: #ffffff;
  /* font tokens */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-18: 18px;
  --fs-46: 46px;
  --fs-64: 64px;
  --ff-main: "Playfair Display", "serif";
}
