---
import Layout from "../layouts/Layout.astro";

import HeroLeftSection from "../components/HeroLeftSection.astro";
import HeroRightSection from "../components/HeroRightSection.astro";
import AboutLeftSection from "../components/AboutLeftSection.astro";
import AboutRightSection from "../components/AboutRightSection.astro";
import PortfolioLeft from "../components/PortfolioLeft.astro";
import PortfolioRight from "../components/PortfolioRight.astro";
import AdvantagesLeftSection from "../components/AdvantagesLeftSection.astro";
import AdvantagesRightSection from "../components/AdvantagesRightSection.astro";
import WorkflowLeftSection from "../components/WorkflowLeftSection.astro";
import WorkflowRight from "../components/WorkflowRight.astro";
import PriceRight from "../components/PriceRight.astro";
import PriceLeft from "../components/PriceLeft.astro";
import CustomerReviewLeftSection from "../components/CustomerReviewLeftSection.astro";
import CustomerReviewsRightSection from "../components/CustomerReviewsRightSection.astro";
import Contacts from "../components/Contacts.astro";
import StepAnimation from "../components/StepAnimation.astro";

const sections = [
  [
    {
      component: HeroLeftSection,
      props: {
        id: "hero",
        className: "pt-4 section-column__wrapper_menu",
      },
    },
    {
      component: HeroRightSection,
      props: {
        id: "hero",
        img: true,
        className: "column-content--bordered-bottom",
      },
    },
  ],
  [
    {
      component: AboutLeftSection,
      props: {
        id: "about",
        img: true,
        className: "column-content--bordered-top",
      },
    },
    {
      component: AboutRightSection,
      props: {
        id: "about",
        className: "pt-25",
      },
    },
  ],
  [
    {
      component: PortfolioLeft,
      props: {
        id: "portfolio",
        className: "pt-4 section-column__wrapper_menu",
      },
    },
    {
      component: PortfolioRight,
      props: {
        id: "portfolio",
        className: "column-content--bordered-bottom",
        img: true,
      },
    },
  ],
  [
    {
      component: AdvantagesLeftSection,
      props: {
        id: "advantages",
        className: "column-content--bordered-bottom",
        img: true,
      },
    },
    {
      component: AdvantagesRightSection,
      props: {
        id: "advantages",
        className: "pt-25",
      },
    },
  ],
  [
    {
      component: WorkflowLeftSection,
      props: {
        id: "workflow",
        className: "pt-4 section-column__wrapper_menu",
      },
    },
    {
      component: WorkflowRight,
      props: {
        id: "workflow",
        className: "column-content--bordered-bottom column-content--sticky",
        img: true,
      },
    },
  ],
  [
    {
      component: PriceLeft,
      props: {
        id: "price",
        className: "column-content--bordered-top",
        img: true,
      },
    },
    {
      component: PriceRight,
      props: {
        id: "price",
        className: "pt-25",
      },
    },
  ],
  [
    {
      component: CustomerReviewLeftSection,
      props: {
        id: "reviews",
        className: "pt-4 section-column__wrapper_menu",
      },
    },
    {
      component: CustomerReviewsRightSection,
      props: {
        id: "reviews",
      },
    },
  ],
  [
    {
      component: Contacts,
      props: {
        id: "contacts",
      },
    },
  ],
];
---

<Layout title="Martu - Свадебное агенство">
  <main class="scroll-container">
    {
      sections.map((section, parentIndex) => (
        <section
          class:list={[
            parentIndex === 7 ? "snap-section-full" : "snap-section",
          ]}
        >
          {section.map(({ component: Component, props }, index) => (
            <div class={`snap-column snap-column-${parentIndex}-${index} `}>
              {props.img && <StepAnimation sectionId={props.id} />}
              <div
                class={`${props.id !== "contacts" ? "section-column" : "section-full"}`}
                id={props.id}
                data-section-index={`${props.id !== "contacts" ? `${parentIndex + index}` : 22}`}
                data-nav-section
                data-section
              >
                <Component {...props} />
              </div>
            </div>
          ))}
        </section>
      ))
    }
    <!-- <Contacts /> -->
  </main>
</Layout>

<style>
  .column-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .scroll-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  .snap-section {
    display: contents;
  }

  .snap-column {
    min-height: 100dvh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    position: relative;
    flex: 1 0 auto;
  }

  @media (min-width: 1025px) {
    .snap-section {
      display: grid;
      grid-template-columns: 1fr 1fr;

      scroll-snap-align: start;
    }
    .snap-section-full {
      display: grid;
      grid-template-columns: 1fr;
      min-height: 100vh;
      scroll-snap-align: start;
    }

    .snap-column {
      min-height: 100dvh;
      scroll-snap-align: none;
      scroll-snap-stop: normal;
    }
    .section-full {
      width: 100%;
    }
  }
</style>
