---
import SectionMobile from "../layouts/SectionMobile.astro";
import AboutLeftSection from "./AboutLeftSection.astro";
import AboutRightSection from "./AboutRightSection.astro";
import SectionAware from "../components/SectionAware.astro";
const imageSources = [
  {
    srcset: "/martu/images/about-section-background.png",
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<SectionMobile id="about" indexFirst={4} indexSecond={3}>
  <SectionAware
    class="background-image"
    sources={imageSources}
    src="/martu/images/about-section-background.png"
    alt="about-section-background"
    height="100%"
    width="100%"
    preloadSections={1}
    slot="left-column-background"
    sectionSelector="[data-section]"
  />
  <div
    class="section__content-wrapper section__content-wrapper--bordered"
    slot="left-column"
  >
    <AboutLeftSection />
  </div>

  <div class="section__content-wrapper" slot="right-column">
    <AboutRightSection />
  </div>
</SectionMobile>
