---
import AboutBackground from "../assets/images/about-section-background.png";
import SectionAware from "../components/SectionAware.astro";
import ShowCase from "../components/ShowCase.astro";

import FounderQuote from "./FounderQuote.astro";
const imageSources = [
  {
    srcset: AboutBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<ShowCase>
  <h2 slot="showcase__title" class="fs-64 text-center about-left-title">
    Красота в <br />
    <span class="italic">каждой</span> детали
  </h2>
</ShowCase>

<FounderQuote />

<SectionAware
  class="background-image"
  sources={imageSources}
  src={AboutBackground.src}
  alt="about-section-background"
  height="100%"
  width="100%"
  preloadSections={1}
  slot="left-column-background"
  sectionSelector="[data-section]"
/>

<style>
  .about-left-title {
    margin-bottom: 3.5rem;
  }
  @media (max-width: 455px) {
    .about-left-title {
      margin-bottom: auto;
    }
  }
</style>
