---
import Copyright from "./Copyright.astro";
import AboutSign from "../assets/images/about-sign.svg";
---

<div class="right-column__tagline">
  Мы — команда <span class="brand-color italic">Martu</span>, <br />и мы любим
  свадьбы.
</div>
<h2 class="about-section__title">
  О тех, кто <span class="brand-color italic underline"
    >влюблён<span class="underline-draw">
      <AboutSign />
    </span></span
  >
  <br /> в своё дело
</h2>
<div class="description">
  <div class="description__column">
    <p class="descrition__text">
      Ваша свадьба — это больше, чем просто праздник. Это день, где каждая
      деталь должна быть наполнена смыслом и красотой. В Martu мы верим, что
      эмоции не поддаются шаблонам, и именно поэтому подходим к каждой паре с
      теплом и вниманием.
    </p>
    <p class="descrition__text">
      У нас нет случайных подрядчиков или дежурных решений. Каждая пара —
      отдельная история, каждый день — уникальный проект. Мы собрали вокруг себя
      людей, которым можно доверить праздник своей жизни: координаторов,
      флористов, декораторов, стилистов. Наша задача — не просто выполнить
      работу, а быть для вас поддержкой и опорой.
    </p>
  </div>
  <div class="description__column">
    <ul class="advantages">
      <li>
        Более <span class="brand-color italic">5 лет</span>
        <br /> в индустрии
      </li>
      <li>
        <span class="brand-color italic">100+</span> довольных <br /> и счастливых
        пар
      </li>
      <li>
        <span class="brand-color italic">0</span> стрессов <br /> у наших клиентов
      </li>
      <li>
        <span class="brand-color italic">15</span> внимательных <br /> человек в
        команде
      </li>
    </ul>
  </div>
</div>
<Copyright />
<style>
  .about-section__title {
    margin-bottom: 5.125rem;
  }

  .description {
    display: flex;
  }
  .description__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 3.75rem;
  }

  ul {
    list-style: none;
    display: flex;
    list-style: none;
    gap: 4.125rem;
    flex-direction: column;
    align-items: flex-end;
  }
  li {
    color: var(--text-color-tertiary);
    font-size: var(--fs-14);
    width: 9.375rem;
  }
  li::after {
    content: "";
    display: block;
    background-image: url("../assets/images/list-sign.svg");
    width: 9.375rem;
    height: 0.5rem;
    background-repeat: no-repeat;
  }
</style>
