---
import Section from "../layouts/Section.astro";
import SectionAware from "../components/SectionAware.astro";
import AboutLeftSection from "./AboutLeftSection.astro";
import AboutRightSection from "./AboutRightSection.astro";
import AboutBackground from "../assets/images/about-section-background.png";
const imageSources = [
  {
    srcset: AboutBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<Section id="about" index="2">
  <SectionAware
    class="background-image"
    sources={imageSources}
    src={AboutBackground.src}
    alt="about-section-background"
    height="100%"
    width="100%"
    preloadSections={1}
    slot="left-column-background"
    sectionSelector="[data-section]"
  />
  <div
    class="section__content-wrapper section__content-wrapper--bordered-top"
    slot="left-column"
  >
    <AboutLeftSection />
  </div>

  <div
    class="section__content-wrapper section__content-wrapper--bordered"
    slot="right-column"
  >
    <AboutRightSection />
  </div>
</Section>
