---
import SectionMobile from "../layouts/SectionMobile.astro";
import AdvantagesLeftSection from "./AdvantagesLeftSection.astro";
import AdvantagesRightSection from "./AdvantagesRightSection.astro";
import SectionAware from "../components/SectionAware.astro";
import AdvantagesBackground from "../assets/images/advantages-section-background.png";
const imageSources = [
  {
    srcset: AdvantagesBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<SectionMobile id="аdvantages" indexFirst={4} indexSecond={3}>
  <SectionAware
    class="background-image"
    sources={imageSources}
    src={AdvantagesBackground.src}
    alt="about-section-background"
    height="100%"
    width="100%"
    preloadSections={1}
    slot="left-column-background"
    sectionSelector="[data-section]"
  />
  <div
    class="section__content-wrapper section__content-wrapper--bordered"
    slot="left-column"
  >
    <AdvantagesLeftSection />
  </div>

  <div class="section__content-wrapper" slot="right-column">
    <AdvantagesRightSection />
  </div>
</SectionMobile>
