---
import AdvantagesBackground from "../assets/images/advantages-section-background.png";
import SectionAware from "../components/SectionAware.astro";
const imageSources = [
  {
    srcset: AdvantagesBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];


---


  <div class="advantages ">
    <div class="list-container">
      <ul class="list">
        <li class="list-item">
          <p class="list-item-title">Сильная команда</p>
          <p class="list-item-description">
          Собственный декор, проверенные <br> фотографы/видеографы, топовые <br> ведущие, обученные координаторы и т.д
          </p>
        </li>
        <li class="list-item">
          <p class="list-item-title">Персональный подход</p>
          <p class="list-item-description">
           Концепция под ваш стиль и характер
          </p>
        </li>
        <li class="list-item">
          <p class="list-item-title">Полное сопровождение</p>
          <p class="list-item-description">
            От знакомства до ухода последнего гостя
          </p>
        </li>
        <li class="list-item">
          <p class="list-item-title">Опыт и надёжность</p>
          <p class="list-item-description">
           Предотвратим проблему до ее появления
          </p>
        </li>
      </ul>
    </div>
  </div>

  <SectionAware
    class="background-image"
    sources={imageSources}
    src={AdvantagesBackground.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    sectionSelector="[data-section]"
  />


<style>
  .advantages {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color-white);
  }

  .list-container {
    display: flex;
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    row-gap: 42px;

  }

  @media (min-width: 768px) {
    .list {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    .list {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }

  .list-item {
    color: var(--text-color-white);

    padding-left: 35px;
  }

  .list-item-title {
    font-size: var(--fs-16);
    color: var(--text-color-white);
    margin-bottom: 10px;
  }

  .list-item-description {
    font-size: var(--fs-14);
    color: var(--text-color-white);
  }
  .advantages {
    margin-top: auto;
    z-index: 2;
  }

  .list-item::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--background-color-white);
    border-radius: 50%;
    position: relative;
    display: block;
    left: -20px;
    top: 20px;
  }
</style>
