---
import Copyright from "./Copyright.astro";
import SectionAware from "./SectionAware.astro";
import AdvantagesVisual from "../assets/images/advantages-visual.png";
import AdvantagesSign from "../assets/images/advantages-sign.svg";
const imageSources = [
  {
    srcset: AdvantagesVisual.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<div class="column-wrapper">
  <div class="right-column__tagline">
    Именно это отличает <br /> нас от остальных
  </div>
  <h2 class="section_title">
    Мы не делаем <br /> “просто красиво” — <br /> мы делаем <br />
    <span class="brand-color italic underline"
      >по-настоящему<span class="underline-draw-custom">
        <AdvantagesSign />
      </span></span
    >
  </h2>
  <div class="container">
    <div class="content-block">
      <div class="photo">
        <SectionAware
          sources={imageSources}
          src={AdvantagesVisual.src}
          alt="Feature"
          height="100%"
          width="100%"
          preloadSections={1}
          sectionSelector="[data-section]"
        />
      </div>

      <div class="section-description">
        <p class="text-1">
          Нам не нужно ничего навязывать — мы умеем слышать вас, считывать
          невысказанное, и именно поэтому результат всегда оказывается ближе к
          мечте, чем вы сами могли сформулировать.
        </p>

        <p class="text-2">
          Нас выбирают за чуткость, опыт и эстетику, которой можно доверять. И
          мы отвечаем на это доверием в ответ.
        </p>
      </div>
    </div>
  </div>
  <Copyright />
</div>

<style>
  .column-wrapper {
    height: calc(100% - 100px);
    margin: 50px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--brand-color);
    border-bottom: 1px solid var(--brand-color);
  }
  .container {
    margin-top: auto;
  }
  .content-block {
    display: grid;
    gap: 30px;
  }
  .section_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  @media (min-width: 768px) {
    .content-block {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "photo text";
      gap: 40px;
      align-items: start;
    }

    .photo {
      grid-area: photo;
    }

    .section-description {
      grid-area: text;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;
      height: 100%;
    }

    .text-1 {
      order: 1;
    }

    .text-2 {
      order: 2;
    }
  }

  @media (max-width: 767px) {
    .content-block {
      grid-template-columns: 1fr;
      grid-template-areas:
        "text1"
        "photo"
        "text2";
    }

    .photo {
      grid-area: photo;
    }

    .text-1 {
      grid-area: text1;
    }

    .text-2 {
      grid-area: text2;
    }

    .section_description {
      display: contents;
    }
  }

  .photo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .text {
    font-size: 16px;
    line-height: 1.8;
  }

  @media (min-width: 768px) {
    .text-1,
    .text-2 {
      font-size: var(--fs-18);
      color: var(--text-color-secondary);
    }
  }
</style>
