---
import AdvantagesBackground from "../assets/images/advantages-section-background.png";
import SectionAware from "../components/SectionAware.astro";
const imageSources = [
  {
    srcset: AdvantagesBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<div class="column-showcase">
  <div class="column-showcase__content">
    <div class="advantages">
      <div class="list-container">
        <ul class="list">
          <li class="list-item">
            <p class="list-item-title">Сильная команда</p>
            <p class="list-item-description">
              Cобственный декор, координаторы, подрядчики
            </p>
          </li>
          <li class="list-item">
            <p class="list-item-title">Персональный подход</p>
            <p class="list-item-description">
              Свадьба по вашему стилю и характеру
            </p>
          </li>
          <li class="list-item">
            <p class="list-item-title">Полное сопровождение</p>
            <p class="list-item-description">
              От брифа до финального бокала шампанского
            </p>
          </li>
          <li class="list-item">
            <p class="list-item-title">Опыт и надёжность</p>
            <p class="list-item-description">
              Мы знаем, как предвосхищать сложности
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <SectionAware
    class="background-image"
    sources={imageSources}
    src={AdvantagesBackground.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    sectionSelector="[data-section]"
  />
</div>

<style>
  .column-showcase {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .column-showcase__content {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    margin: 50px;
    position: relative;
    z-index: 2;
  }

  .list-container {
    display: flex;
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    row-gap: 42px;
    gap: 100px;
  }

  @media (min-width: 768px) {
    .list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    .list {
      grid-template-columns: 1fr;
    }
  }

  .list-item {
    color: var(--text-color-white);

    padding-left: 35px;
  }

  .list-item-title {
    font-size: var(--fs-16);
    color: var(--text-color-white);
    margin-bottom: 10px;
  }

  .list-item-description {
    font-size: var(--fs-14);
    color: var(--text-color-white);
  }
  .advantages {
    margin-top: auto;
    z-index: 2;
  }

  .list-item::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--background-color-white);
    border-radius: 50%;
    position: relative;
    display: block;
    left: -20px;
    top: 20px;
  }
</style>
