---
import AdvantagesBackground from "../assets/images/advantages-section-background.png";
import SectionAware from "../components/SectionAware.astro";
const imageSources = [
  {
    srcset: AdvantagesBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<div class="showcase border-bottom border-top">
  <div class="showcase__wrapper">
    <ul class="list">
      <li class="list-item">
        <p class="list-item-title">Сильная команда</p>
        <p class="list-item-description">
          Собственный декор, проверенные <br /> фотографы/видеографы, топовые <br
          /> ведущие, обученные координаторы и т.д
        </p>
      </li>
      <li class="list-item">
        <p class="list-item-title">Персональный подход</p>
        <p class="list-item-description">Концепция под ваш стиль и характер</p>
      </li>
      <li class="list-item">
        <p class="list-item-title">Полное сопровождение</p>
        <p class="list-item-description">
          От знакомства до ухода последнего гостя
        </p>
      </li>
      <li class="list-item">
        <p class="list-item-title">Опыт и надёжность</p>
        <p class="list-item-description">
          Предотвратим проблему до ее появления
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="backdrop-adventages"></div>
<SectionAware
  class="background-image"
  sources={imageSources}
  src={AdvantagesBackground.src}
  alt="Feature"
  height="100%"
  width="100%"
  preloadSections={1}
  sectionSelector="[data-section]"
/>
<script>
  import { animate, inView, stagger } from "motion";

  // inView(".advantages", (target) => {
  //   const elementsToAnimate = [...target.querySelectorAll(".list")];

  //   if (elementsToAnimate.length === 0) return;

  //   return animate(
  //     elementsToAnimate,
  //     {
  //       opacity: [0, 1],
  //       y: [50, 0],
  //       filter: ["blur(8px)", "blur(0px)"],
  //     },
  //     {
  //       duration: 2,
  //       easing: [0.16, 1, 0.3, 1],
  //       delay: stagger(0.3, { start: 0.7 }),
  //     }
  //   );
  // });
</script>
<style>
  .backdrop-adventages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 25%,
      transparent 100%
    );
  }
  .border-bottom {
    border-bottom: 1px solid var(--border-color-white);
  }
  .border-top {
    border-top: 1px solid var(--border-color-white);
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 4rem;
    /* width: 100%; */
    grid-template-columns: repeat(2, 1fr);
    color: var(--text-color-white);
  }

  @media (max-width: 767px) {
    .backdrop-adventages {
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 50%,
        transparent 100%
      );
    }
    .list {
      width: 100%;
      grid-template-columns: 1fr;
    }
  }

  .list-item {
    max-width: 15rem;
    padding-left: 2.1875rem;
    position: relative;
  }

  .list-item-title {
    font-size: var(--fs-16);
    margin-bottom: 0.625rem;
    text-transform: uppercase;
  }

  .list-item-description {
    font-size: var(--fs-14);
    color: var(--text-color-white);
  }

  .list-item::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--background-color-white);
    border-radius: 50%;
    position: relative;
    display: block;
    left: -1.25rem;
    top: 1rem;
  }
</style>
