<div class="copyright">
  <span class="brand-color">2025</span><span class="brand-color"
    >© MartuAgency</span
  >
</div>
<style>
  .copyright {
    margin-top: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
</style>
