---
const date = new Date().getFullYear();
---

<div class="copyright">
  <span class="brand-color">{date}</span>
  <span class="brand-color">© MartuAgency</span>
</div>
<style>
  .copyright {
    font-size: var(--fs-14);
    line-height: var(--lh-14);
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
</style>
