---
import ReviewCard from "./ReviewCard.astro";

const mock = [
  {
    id: 1,
    author: "Анна и Алексей",
    content:
      "Я до сих пор не могу поверить, что это было про нас. Martu воплотили в реальность картинку, которую я боялась даже мечтать...»",
    avatar: `/src/assets/uploads/reviews/review1.png`,
  },
  {
    id: 2,
    author: "Вероника и Максим",
    content:
      "Когда ты приходишь на встречу и тебе говорят: “Мы будем рядом, даже когда вы забудете, что вас что-то может волновать” — это не маркетинг, это правда...»",
    avatar: `/src/assets/uploads/reviews/review2.png`,
  },
  {
    id: 3,
    author: "Елена и Егор",
    content:
      "«Марин, без тебя, без твоей огромной работы у нас было бы не так интересно и было бы иначе. Мы невероятно как ценим то, что именно ты с нами! У нас будет конфетка, а не просто свадьба.»",
    avatar: `/src/assets/uploads/reviews/review3.png`,
  },
  {
    id: 4,
    author: "Марина",
    content:
      "«Мы очень рады, что именно ты стала нашим организатором. Мы ОТ и ДО были на одной волне. Ты всегда нас поддерживала, направляла. Познакомила нас с этим удивительным и новым для нас свадебным миром.»",
    avatar: `/src/assets/uploads/reviews/review4.png`,
  },
  {
    id: 5,
    author: "Анастасия",
    content:
      "«Марина! Хотим сказать огромнейшее спасибо за праздник, который ты организовала для нас! С ноября ты была на связи, советовала, помогала, договаривалась и сделала много того, о чем мы даже не задумывались, о тех мелочах, которые сделали наш праздник еще лучше, круче и масштабнее!»",
    avatar: `/src/assets/uploads/reviews/review3.png`,
  },
  {
    id: 6,
    author: "Александра",
    content:
      "«Спасибо за то, что позволила нам расслабиться в самый важный для нас день и ни за что не переживать. Хоть я и контролер по натуре :) но ты с лёгкостью смогла развеять мои тревоги и решить все мои проблемы...»",
    avatar: `/src/assets/uploads/reviews/review2.png`,
  },
  {
    id: 7,
    author: "Валерия",
    content:
      "«Я хочу выразить еще раз огромную благодарность от нас с Тимом тебе, твоей команде. Мне 100 раз подошли и сказали, что праздник организован на уровне просто, что все очень очень круто, красиво и замечательно!»",
    avatar: `/src/assets/uploads/reviews/review4.png`,
  },
];

const column1mock = [...mock, ...mock, ...mock];
const column2mock = [...mock, ...mock, ...mock];
---

<div class="container">
  <div class="column">
    <div class="scroll-wrapper scroll-up" id="leftColumn">
      {column1mock.map((review) => <ReviewCard review={review} />)}
    </div>
  </div>
  <div class="column hide-on-mobile">
    <div class="scroll-wrapper scroll-down" id="rightColumn">
      {column2mock.map((review) => <ReviewCard review={review} />)}
    </div>
  </div>
</div>
<style>
  .container {
    display: flex;
    gap: 1rem;
  }

  .column {
    flex: 1;
    height: calc(100vh - 2 * var(--section-margin));
    overflow: hidden;
    position: relative;
  }

  .column::before,
  .column::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 5rem;
    z-index: 10;
    pointer-events: none;
  }

  .column::before {
    top: 0;
    background: linear-gradient(
      to bottom,
      var(--background-color) 0%,
      rgba(102, 126, 234, 0) 100%
    );
  }

  .column::after {
    bottom: 0;
    background: linear-gradient(
      to top,
      var(--background-color) 0%,
      rgba(118, 75, 162, 0) 100%
    );
  }

  .scroll-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .scroll-up {
    animation: scrollUp 100s linear infinite;
  }

  .scroll-down {
    animation: scrollDown 100s linear infinite;
  }

  @keyframes scrollUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  @keyframes scrollDown {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .column:hover .scroll-wrapper {
    animation-play-state: paused;
  }

  @media (max-width: 700px) {
    .hide-on-mobile {
      display: none;
    }
    .container {
      flex-direction: column;
      height: 90vh;
    }

    .column {
      height: 45vh;
    }
  }
</style>
