---
import Circle from "./Circle.astro";
import HeroCircle from "../assets/images/hero-circle.jpg";
import HeroSign from "../assets/images/hero-sign.svg";

const { index, id } = Astro.props;
---

<div
  class="column-wrapper"
  id={id}
  data-section-index={index}
  data-nav-section
  data-section
>
  <p class="left-column__tagline">
    <span class="line" id="line1">Создадим не только</span>
    <span class="line" id="line2">праздник, но и повод</span>
  </p>
  <h1 class="section__title">
    Мы - заодно <br /> с <span class="brand-color italic underline"
      >Вами <span class="underline-draw">
        <HeroSign />
      </span>
    </span>
  </h1>
  <div class="hero-section__visual-element">
    <Circle borderColor="white" size="lg" imagePath={HeroCircle.src} />
  </div>
  <p class="hero-section__description">
    <span class="brand-color"> Martu</span> - мы свадебное агентство. Здесь каждый
    не случайно. Люди, которые любят свое дело и красиво воплощают любовь. Наша команда
    профессионалов готова реализовать любые задумки и пожелания!
  </p>
</div>
<style>
  .line {
    display: block;
    /* opacity: 0; */
  }

  .hero-section__visual-element {
    display: flex;
    justify-content: center;
  }
  .hero-section__description {
    color: var(--text-color-secondary);
    font-size: var(--fs-14);
    text-align: center;
    margin-top: auto;
    margin-bottom: 2rem;
  }
</style>
