---
import ShowCase from "./ShowCase.astro";
---

<ShowCase date="Сентябрь 2025" names="Вероника и Максим">
  <div slot="showcase__title" class="showcase__title">
    <span class="italic">Бесплатная</span> консультация по вашему запросу!
  </div>
  <div slot="showcase__description" class="showcase__description">
    Расскажите нам свои идеи, и мы предложим<br /> концепцию, формат и ориентир по
    бюджету <br /> — даже если вы ещё не выбрали агентство.
  </div>
</ShowCase>
