---
import SectionMobile from "../layouts/SectionMobile.astro";
import HeroLeftSection from "./HeroLeftSection.astro";
import HeroRightSection from "./HeroRightSection.astro";
import SectionAware from "../components/SectionAware.astro";
import HeroBackground from "../assets/images/hero-section-background.jpg";
const imageSources = [
  {
    srcset: HeroBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<SectionMobile id="hero" indexFirst={1} indexSecond={2}>
  <div
    class="section__content-wrapper section__content-wrapper--bordered"
    slot="left-column"
  >
    <HeroLeftSection />
  </div>
  <SectionAware
    class="background-image"
    sources={imageSources}
    src={HeroBackground.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    slot="right-column-background"
    sectionSelector="[data-section]"
  />
  <div class="section__content-wrapper" slot="right-column">
    <HeroRightSection />
  </div>
</SectionMobile>
