---
import Section from "../layouts/Section.astro";
import HeroLeftSection from "./HeroLeftSection.astro";
import HeroRightSection from "./HeroRightSection.astro";
import SectionAware from "../components/SectionAware.astro";
import HeroBackground from "../assets/images/hero-section-background.jpg";
const imageSources = [
  {
    srcset: HeroBackground.src,
    media: "(max-width: 1440)",
    type: "image/jpg",
  },
];
---

<Section id="hero" index="1">
  <div
    class="section__content-wrapper section__content-wrapper--bordered"
    slot="left-column"
  >
    <HeroLeftSection />
  </div>

  <SectionAware
    class="background-image"
    sources={imageSources}
    src={HeroBackground.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    slot="right-column-background"
    sectionSelector="[data-section]"
  />
  <div
    class="section__content-wrapper section__content-wrapper--bordered"
    slot="right-column"
  >
    <HeroRightSection />
  </div>
</Section>

<script lang="js" type="module">
  import {
    animate,
    scroll,
  } from "https://cdn.jsdelivr.net/npm/motion@latest/+esm";
  const line = document.getElementById("line1");
  const sequence = [
    [
      "#line1",
      { opacity: [0, 1], y: [20, 0] },
      {
        duration: 1,
        delay: 0.5,
        easing: "ease-out",
      },
    ],
    [
      "#line2",
      { opacity: [0, 1], y: [20, 0] },
      {
        duration: 1,
        delay: 0.3,
        easing: "ease-out",
      },
    ],
  ];

  animate(sequence);
</script>
