---
import ShowCase from "../components/ShowCase.astro";
import SectionAware from "../components/SectionAware.astro";
import HeroBackground from "../assets/images/hero-section-background.webp";
import ContactButton from "./ContactButton.astro";
import { socialLinks } from "../social-links";
const imageSources = [
  {
    srcset: HeroBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<ShowCase
  date="Сентябрь 2024"
  names="Тимофей и Валерия"
  hash="timofey-and-valeriya"
  cssClass="border-bottom"
>
  <h2 slot="showcase__title" class="showcase__title">
    <span class="italic">Бесплатная</span> консультация <br class="desktop" /> по
    вашему запросу!
  </h2>

  <ContactButton link={socialLinks.wu} slot="showcase__contact-us" />
  <p slot="showcase__description" class="showcase__description">
    Расскажите ваши предпочтения и мы предложим вам <br class="desktop" /> лучшие
    варианты по бюджету, концепции и формату.
  </p>
</ShowCase>

<SectionAware
  class="background-image hero-aware-image"
  sources={imageSources}
  src={HeroBackground.src}
  alt="Feature"
  height="100%"
  width="100%"
  preloadSections={1}
  sectionSelector="[data-section]"
/>
