---
import ShowCase from "./ShowCase.astro";
import SectionAware from "../components/SectionAware.astro";
import HeroBackground from "../assets/images/hero-section-background.png";
import ShowCaseSign from "../assets/images/show-case-underline.svg";
const imageSources = [
  {
    srcset: HeroBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<ShowCase
  date="Сентябрь 2025"
  names="Вероника и Максим"
  cssClass="border-bottom"
>
  <h2 slot="showcase__title" class="showcase__title">
    <span class="italic">Бесплатная</span> консультация <br class="desktop" /> по
    вашему запросу!
  </h2>
  <div slot="showcase__contact-us">
    <button class="showcase__cta-button underline" slot="showcase__contact-us">
      Связаться с нами
      <ShowCaseSign class="underline-draw" />
    </button>
  </div>
  <p slot="showcase__description" class="showcase__description">
    Расскажите нам свои идеи, и мы предложим<br /> концепцию, формат и ориентир по
    бюджету <br /> — даже если вы ещё не выбрали агентство.
  </p>
</ShowCase>

<SectionAware
  class="background-image"
  sources={imageSources}
  src={HeroBackground.src}
  alt="Feature"
  height="100%"
  width="100%"
  preloadSections={1}
  sectionSelector="[data-section]"
/>
