---
import Logo from "../assets/Logo.svg";
import Burger from "../assets/Burger.svg";
---

<nav class="navigation" id="navigation">
  <div class="logo">
    <Logo />
  </div>
  <div class="links desktop">
    <div class="column">
      <a href="#main">О нас</a>
      <a href="#about"> Портфолио </a>
    </div>
    <div class="divider"></div>
    <div class="column">
      <a href="#section3">Почему мы</a>
      <a href="#section3">Процесс</a>
    </div>
    <div class="divider"></div>
    <div class="column">
      <a href="#section4">Услуги</a>
      <a href="#section4">Отзывы</a>
    </div>
    <div class="divider"></div>
    <div class="column">
      <a href="#section4">Instagram</a>
      <a href="#section4">Вконтакте</a>
    </div>
  </div>
  <div class="burger mobile">
    <Burger />
  </div>
</nav>

<style>
  .navigation {
    position: fixed;
    top: 66px;
    left: 50px;
    z-index: 1000;
    pointer-events: auto;
    display: flex;
    gap: 70px;
    width: calc(50vw - 100px);
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 690px) {
    .navigation {
      backdrop-filter: blur(4px);
      width: calc(100% - 40px);
      top: 0;
      left: 0;
      padding: 20px 20px 12px 20px;
      border-bottom: 1px solid var(--border-color);
    }
    .logo {
      height: 45px;
      width: 45px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  a {
    color: var(--text-color-secondary);
    font-weight: 400;
    font-size: var(--fs-12);
    font-family: var(--ff-main);
    text-decoration: none;
    font-style: normal;
  }
  .black {
    color: var(--text-color-primary);
  }
  .white {
    color: var(--text-color-white);
  }
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .divider {
    width: 1px;
    background-color: var(--border-color);
  }
  .links {
    display: flex;
    gap: 35px;
  }
  .nav {
    display: none;
  }
  #navigation:has(:checked) {
    .nav {
      display: flex;
    }
  }
  .burger {
    width: 40px;
    height: 40px;
  }
</style>
