---
import SectionAware from "../components/SectionAware.astro";
import Circle from "../components/Circle.astro";
import PortfolioVisual from "../assets/images/portfolio-section.png";
import PortfolioSign from "../assets/icons/sign/portfolio-sign.svg";
const imageSources = [
  {
    srcset: PortfolioVisual.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
const { className } = Astro.props;
---
<div class:list={[className, "section-column__wrapper"]}>
    <div class="section-column__wrapper-inner">
<h2 class="section__title">
  Образы, <br />
  <span class="brand-color italic underline"
    >прикосновения  <span class="underline-draw">
      <PortfolioSign />
    </span></span
  >

  <br /> и моменты
</h2>
<div class="portfolio__visual">
  <SectionAware
    sources={imageSources}
    src={PortfolioVisual.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    sectionSelector="[data-section]"
  />
</div>
<div class="description">
  <p class="text">
    Каждая свадьба — это диалог с парой, поиск <br /> визуального кода, который откликается
    именно им.
  </p>
  <p class="text">
    <!-- Именно поэтому фотографии с наших мероприятий <br /> живут долго и не теряют
    актуальности. Они <br /> передают атмосферу, эмоции и то самое “что-то”,
    <br />
    что словами не опишешь. -->
    Воспоминания о наших мероприятиях живут долго, сквозь года передают эмоции и заставляют проживать незабываемые моменты снова и снова.
  </p>
</div>
<div class="show-portfolio">
  <Circle size="md" borderColor="#57718C">
    <span slot="text" class="circle-text">
      Смотреть <br /> портфолио
    </span>
  </Circle>
</div>
    </div>
</div>


<style>

  .circle-text {
    color: var(--brand-color);
    display: block;
    text-align: center;

  }

  .portfolio__visual {
    display: flex;
    justify-content: center;
  }
  .text {
    color: var(--text-color-secondary);
    font-size: var(--fs-14);
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 1rem;
  }
  .show-portfolio {
    position: absolute;
    right: -100px;
    top: calc(50% - 100px);
    z-index: 12;
    @media (max-width: 1025px) {
      display: flex;
      justify-content: center;
      margin: 1.5rem 0;
      position:inherit;
    }
  }
</style>
