---
import SectionMobile from "../layouts/SectionMobile.astro";
import SectionAware from "../components/SectionAware.astro";
import PortfolioLeft from "./PortfolioLeft.astro";
import ShowCase from "./ShowCase.astro";
import PortfolioBackground from "../assets/images/portfolio-section-background.png";
const imageSources = [
  {
    srcset: PortfolioBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<SectionMobile id="portfolio" indexFirst={5} indexSecond={6}>
  <div
    class="section__content-wrapper section__content-wrapper--bordered"
    slot="left-column"
  >
    <PortfolioLeft />
  </div>

  <SectionAware
    class="background-image"
    sources={imageSources}
    src={PortfolioBackground.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    slot="right-column-background"
    sectionSelector="[data-section]"
  />
  <div
    class="section__content-wrapper section__content-wrapper--bordered-bottom"
    slot="right-column"
  >
    <ShowCase date="Лето 2023" names="Александр и Ирина">
      <div slot="showcase__title" class="showcase__title">
        Не просто красивые <br /> картинки, а настоящие <span class="italic"
          >истории</span
        >.
      </div>
      <div slot="showcase__description" class="showcase__description">
        Мы работаем с разными форматами: выездные церемонии, роскошные банкеты,
        камерные семейные праздники.
      </div>
    </ShowCase>
  </div>
</SectionMobile>
