---
import SectionAware from "../components/SectionAware.astro";
import ShowCase from "./ShowCase.astro";
import PortfolioBackground from "../assets/images/portfolio-section-background.png";
const imageSources = [
  {
    srcset: PortfolioBackground.src,
    media: "(max-width: 1440)",
    type: "image/webp",
  },
];
---

<div class="column-showcase">
  <div class="column-showcase__content">
    <ShowCase
      date="Лето 2023"
      names="Александр и Ирина"
      cssClass="border-bottom"
    >
      <div slot="showcase__title" class="showcase__title">
        Не просто красивые <br /> картинки, а настоящие <span class="italic"
          >истории</span
        >.
      </div>
      <div slot="showcase__description" class="showcase__description">
        Мы работаем с разными форматами: выездные церемонии, роскошные банкеты,
        камерные семейные праздники.
      </div>
    </ShowCase>
  </div>

  <SectionAware
    class="background-image"
    sources={imageSources}
    src={PortfolioBackground.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    sectionSelector="[data-section]"
  />
</div>
<style>
  .column-showcase {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  .column-showcase__content {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
</style>
