---
import SectionAware from "../components/SectionAware.astro";
import Circle from "../components/Circle.astro";
import PortfolioVisual from "../assets/images/portfolio-section.png";
import PortfolioSign from "../assets/images/portfolio-sign.svg";
const imageSources = [
  {
    srcset: PortfolioVisual.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<h2>
  Образы, <br />
  <span class="brand-color italic underline"
    >прикосновения, <span class="underline-draw">
      <PortfolioSign />
    </span></span
  >

  <br /> свет и взгляды.
</h2>
<div class="portfolio__visual">
  <SectionAware
    sources={imageSources}
    src={PortfolioVisual.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    sectionSelector="[data-section]"
  />
</div>
<div class="description">
  <p class="text">
    Каждая свадьба — это диалог с парой, поиск <br /> визуального кода, который откликается
    именно им.
  </p>
  <p class="text">
    Именно поэтому фотографии с наших мероприятий <br /> живут долго и не теряют
    актуальности. Они <br /> передают атмосферу, эмоции и то самое “что-то”,
    <br />
    что словами не опишешь.
  </p>
</div>
<div class="show-portfolio">
  <Circle size="md" borderColor="#57718C">
    <span slot="text" class="circle-text">
      Смотреть <br /> портфолио
    </span>
  </Circle>
</div>
<style>
  h2 {
    margin-top: 146px;
    margin-bottom: 32px;
  }
  .circle-text {
    color: var(--brand-color);
    display: block;
    text-align: center;
    margin: 62px 0;
  }

  .portfolio__visual {
    display: flex;
    justify-content: center;
  }
  .text {
    color: var(--text-color-secondary);
    font-size: var(--fs-14);
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    margin-top: auto;
  }
  .show-portfolio {
    position: absolute;
    right: -100px;
    top: calc(50% - 100px);

    @media (max-width: 690px) {
      display: none;
    }
  }
</style>
