---
import SectionAware from "../components/SectionAware.astro";

import PriceBackground from "../assets/images/price-section-background.png";
import ShowCase from "./ShowCase.astro";

const imageSources = [
  {
    srcset: PriceBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<SectionAware
  class="background-image"
  sources={imageSources}
  src={PriceBackground.src}
  alt="Feature"
  height="100%"
  width="100%"
  preloadSections={1}
  sectionSelector="[data-section]"
/>
<ShowCase date="Сентябрь 2025" names="Вероника и Максим">
  <div slot="showcase__title" class="showcase__title">
    Проверьте <br />
    <span class="italic">свободную</span> дату
  </div>
  <div slot="showcase__description" class="showcase__description">
    Планируете свадьбу? <br /> Узнайте, доступна ли ваша дата <br /> — она может
    быть уже почти вашей.
  </div>
</ShowCase>
