---
import SectionAware from "../components/SectionAware.astro";
import Section from "../layouts/Section.astro";

import ShowCase from "./ShowCase.astro";
import PriceBackground from "../assets/images/price-section-background.png";
import PriceRight from "./PriceRight.astro";

const imageSources = [
  {
    srcset: PriceBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
---

<Section id="price" index="6">
  <SectionAware
    class="background-image"
    sources={imageSources}
    src={PriceBackground.src}
    alt="Feature"
    height="100%"
    width="100%"
    preloadSections={1}
    slot="left-column-background"
    sectionSelector="[data-section]"
  />

  <div
    class="section__content-wrapper section__content-wrapper--bordered-top"
    slot="left-column"
  >
    <!-- <WorkflowLeftSection /> -->
    <ShowCase date="Сентябрь 2025" names="Вероника и Максим">
      <div slot="showcase__title" class="showcase__title">
        Проверьте <br />
        <span class="italic">свободную</span> дату
      </div>
      <div slot="showcase__description" class="showcase__description">
        Планируете свадьбу? <br /> Узнайте, доступна ли ваша дата <br /> — она может
        быть уже почти вашей.
      </div>
    </ShowCase>
  </div>
  <div class="sticky" slot="right-column">
    <div class="section__content-wrapper section__content-wrapper--bordered">
      <PriceRight />
    </div>
  </div>
</Section>
<style>
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
  }
</style>
