---
import Copyright from "./Copyright.astro";
import PricesSign from "../assets/images/prices-sign.svg";
---

<div class="column-wrapper">
  <div class="right-column__tagline">
    Свадьба может быть идеальной <br /> и прозрачной по бюджету
  </div>
  <h2 class="section__title">
    Гибкие пакеты и <span class="brand-color italic underline"
      >индивидуальный<span class="underline-draw">
        <PricesSign />
      </span></span
    > подход <br />к каждой паре
  </h2>
  <div class="content">
    <p class="content__title">
      От первого знакомства до последнего бокала шампанского <br /> в финале вечера
      — мы берём на себя весь процесс: <br /> от идеи до реализации.
    </p>
    <div class="content__list">
      <div class="content__column">
        <span>Концепция и <br /> визуальное оформление</span>

        <span> Подбор команды <br /> (ведущий, фотограф, и др.)</span>
        <span>Поиск и бронирование <br />площадки</span>
      </div>
      <div class="content__column">
        <span>Ведение переговоров с <br /> подрядчиками</span>
        <span>Бюджетирование <br /> и финконтроль</span>
        <span>Контроль исполнения <br /> и логистика</span>
      </div>
    </div>
    <p class="content__budget">
      10% от общего бюджета свадьбы, <br /> но не менее 100 000 ₽
    </p>
    <div class="content__contact brand-color">Узнайте подробнее</div>
  </div>
  <Copyright />
</div>
<style>
  .content {
    color: var(--text-color-secondary);
  }
  .content__title {
    margin-bottom: 2rem;
    text-align: center;
  }
  .content__list {
    display: flex;
    margin-bottom: 2rem;
  }
  .content__column {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 35px;
  }
  .content__budget {
    text-align: center;
    margin-bottom: 1rem;
  }
  .content__column:first-child {
    margin-left: 108px;
  }
  .content__column > span {
    flex: 1;
  }
  .content__contact {
    text-align: center;
  }
</style>
