---
const { date, names } = Astro.props;
---

<div class="showcase">
  <slot name="showcase__title" />
  <slot name="showcase__description" />

  <div class="showcase__cta-button">Связаться с нами</div>
  <div class="showcase__toolbar">
    <span> {date}</span>
    <span> {names}</span>
    <span class="border-bottom">Больше фото</span>
  </div>
</div>
