---
const { date, names, cssClass, hash } = Astro.props;
---

<div class={`showcase ${cssClass}`}>
  <div class="showcase__wrapper">
    <slot name="showcase__title" />
    <slot name="showcase__description" />
    <slot name="showcase__contact-us" />
  </div>

  {
    names && (
      <div class="showcase__toolbar">
        {date && <span>{date}</span>}
        <span>{names}</span>
        <a class="border-bottom" href={`/portfolio/#${hash}`}>
          Больше фото
        </a>
      </div>
    )
  }
</div>
<script>
  import { animate, inView, stagger } from "motion";

  inView(".showcase", (target) => {
    // , .showcase__toolbar > *
    const elementsToAnimate = [
      ...target.querySelectorAll(".showcase__wrapper > *"),
    ];

    const footerElements = target.querySelectorAll(".showcase__toolbar > *");

    if (footerElements.length === 0 || elementsToAnimate.length === 0) return;

    const sequence = [
      [
        elementsToAnimate,
        {
          opacity: [0, 1],
          y: [50, 0],
          filter: ["blur(8px)", "blur(0px)"],
        },
        {
          duration: 0.6,
          easing: "ease-out",
          delay: stagger(0.1),
        },
      ],
      [
        footerElements,
        {
          opacity: [0, 1],
          filter: ["blur(8px)", "blur(0px)"],
        },
        {
          duration: 0.6,
          easing: [0.16, 1, 0.3, 1],
        },
      ],
    ];

    animate(sequence);

    return () => {
      animate(footerElements, { opacity: 0, filter: "blur(8px)" });
      animate(elementsToAnimate, { opacity: 0, y: 50, filter: "blur(8px)" });
    };
  });
</script>
<style is:global>
  .showcase {
    height: 100%;
    /* align-self: flex-end; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 2;
    color: var(--text-color-white);
  }

  .showcase__wrapper {
    margin-bottom: 4rem;
  }

  .showcase__title {
    font-size: var(--fs-46);
    line-height: var(--lh-46);

    margin-bottom: 1.25rem;
  }

  .showcase__description {
    font-size: var(--fs-14);
    line-height: var(--lh-14);

    margin-bottom: 1.5rem;
  }

  .showcase__toolbar {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-14);
    line-height: var(--lh-14);

    margin-bottom: 1rem;
  }

  @media (max-width: 470px) {
    .showcase__wrapper {
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 375px) {
    .showcase__wrapper {
      margin-bottom: 1rem;
    }
  }
</style>
<style>
  .border-bottom {
    border-bottom: 1px solid var(--border-color-white);
  }
  .border-top {
    border-top: 1px solid var(--border-color-white);
  }
</style>
