---
const { date, names, cssClass, hash } = Astro.props;
---

<div class={`showcase ${cssClass} border-bottom`}>
  <div class="showcase__wrapper">
    <slot name="showcase__title" />
    <slot name="showcase__description" />
    <slot name="showcase__contact-us" />
  </div>

  {
    names && (
      <div class="showcase__toolbar">
        {date && <span>{date}</span>}
        <span>{names}</span>
        <a class="border-bottom" href={`/portfolio/#${hash}`}>
          Больше фото
        </a>
      </div>
    )
  }
</div>
<style>
  .border-bottom {
    border-bottom: 1px solid var(--border-color-white);
  }
  .border-top {
    border-top: 1px solid var(--border-color-white);
  }
</style>
