---
const { date, names, cssClass, hash } = Astro.props;
---

<div class={`showcase ${cssClass} border-bottom`}>
  <div class="showcase__wrapper">
    <slot name="showcase__title" />
    <slot name="showcase__description" />
    <slot name="showcase__contact-us" />
  </div>

  {
    names && (
      <div class="showcase__toolbar">
        {date && <span>{date}</span>}
        <span>{names}</span>
        <a class="border-bottom" href={`/portfolio/#${hash}`}>
          Больше фото
        </a>
      </div>
    )
  }
</div>
<style is:global>
  .showcase {
    height: 100%;
    /* align-self: flex-end; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 2;
    color: var(--text-color-white);
  }

  .showcase__wrapper {
    margin-bottom: 4rem;
  }

  .showcase__title {
    font-size: var(--fs-46);
    line-height: var(--lh-46);

    margin-bottom: 1.25rem;
  }

  .showcase__description {
    font-size: var(--fs-14);
    line-height: var(--lh-14);

    margin-bottom: 1.5rem;
  }

  .showcase__toolbar {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-14);
    line-height: var(--lh-14);

    margin-bottom: 1rem;
  }

  @media (max-width: 470px) {
    .showcase__wrapper {
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 375px) {
    .showcase__wrapper {
      margin-bottom: 1rem;
    }
  }

  .showcase:has(.border-bottom) {
    border-bottom: 1px solid var(--border-color-white);
  }
  .showcase:has(.border-top) {
    border-top: 1px solid var(--border-color-white);
  }
</style>
