<script>
  import { stagger, animate, inView } from "motion";

  const transition = {
    duration: 0.8,
    ease: [0.5, 0, 0, 1], // почему-то ошибка из-за этой строки
    delay: stagger(0.05, { startDelay: 1 }),
  };

  const keyframes = {
    y: ["0%", "-100%"],
  };

  inView(
    ".step-animation",
    (element, info) => {
      const lines = Array.from(
        element.querySelectorAll<HTMLElement>(".step-animation__line")
      ).reverse();

      const animation = animate(lines, keyframes, transition);
      animation.play();

      return () => animate(lines, { y: "0%" }, { instant: true });
    },
    { amount: 0.5 }
  );
</script>

<div class="step-animation">
  <div class="step-animation__raw">
    <div class="step-animation__line"></div>
  </div>
  <div class="step-animation__raw">
    <div class="step-animation__line"></div>
  </div>
  <div class="step-animation__raw">
    <div class="step-animation__line"></div>
  </div>
  <div class="step-animation__raw">
    <div class="step-animation__line"></div>
  </div>
  <div class="step-animation__raw">
    <div class="step-animation__line"></div>
  </div>
</div>
<style>
  .step-animation__line {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    transform: translateY("-100%");
  }

  .step-animation__raw {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }

  .step-animation {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
</style>
