---
import WorkFlowBackground from "../assets/images/workflow-section-background.png";
import SectionAware from "./SectionAware.astro";
import ShowCase from "./ShowCase.astro";
const imageSources = [
  {
    srcset: WorkFlowBackground.src,
    media: "(max-width: 1440)",
    type: "image/png",
  },
];
const {className} = Astro.props
---
<div class:list={[className, "section-column__wrapper"]}>
    <ShowCase date="Весна 2024" names="Ольга и Константин">
    <div slot="showcase__title" class="showcase__title">
       В день вашей свадьбы забудьте обо всем,  <span class="italic"
        >наслаждайтесь</span> моментом.
    </div>

  </ShowCase>


<SectionAware
  class="background-image"
  sources={imageSources}
  src={WorkFlowBackground.src}
  alt="Feature"
  height="100%"
  width="100%"
  preloadSections={1}
  sectionSelector="[data-section]"
/>
</div>


