---
import WorkflowSign from "../assets/icons/sign/workflow-sign.svg";
import SvgAnimation from "./SvgAnimation.astro";
---

<h2 class="section__title">
  Простая и <span class="brand-color italic underline">
    прозрачная
    <SvgAnimation style="bottom: -0.6rem;">
      <WorkflowSign />
    </SvgAnimation></span
  > организация
</h2>
<ol class="custom-list">
  <li>
    <div class="title">Живая встреча</div>
  </li>
  <div class="description">
    Первая встреча решает все! Важно понять образовалось ли между нами доверие и
    понимание процесса работы, ведь впереди нас ждет увлекательная подготовка к
    вашему главному дню!
  </div>
  <li>
    <div class="title">Заключение договора и анкета</div>
  </li>
  <div class="description">
    После заключения договора переходим к заполнению анкеты. Нам интересно все,
    что вам нравится и не нравится. Подробная информация о вас поможет
    качественно подготовиться к свадьбе.
  </div>
  <li>
    <div class="title">Свадебный сюжет</div>
  </li>
  <div class="description">
    Обсуждаются ваши пожелания и наши безумные идеи. Определяем вместе концепцию
    и стилистику свадьбы. Детально изучаем самые важные моменты и сокровенные
    желания, которые объединяют вас.
  </div>
  <li>
    <div class="title">Подбор пространства</div>
  </li>
  <div class="description">
    Поиск той самой подходящей площадки. Да-да, из ваших рассказов и даже
    скринов из свадебных порталов.
  </div>
  <li>
    <div class="title">Подбор команды</div>
  </li>
  <div class="description">
    Подбирается команда подрядчиков под бюджет проекта, которая будет созидать
    ваш день по ту сторону.
  </div>
  <li>
    <div class="title">Визуализация свадьбы</div>
  </li>
  <div class="description">
    Подбирается команда подрядчиков под бюджет проекта, которая будет созидать
    ваш день по ту сторону.
  </div>
  <li>
    <div class="title">День вашей свадьбы</div>
  </li>
  <div class="description">
    Команда организаторов будет контролировать весь процесс с самого раннего
    часа монтажа оборудования до ухода последнего гостя. Мы несем
    ответственность за красоту и качество вашей свадьбы. Расслабьтесь и
    наслаждайтесь, мы начинаем!
  </div>
</ol>

<style>
  h2 {
    margin-top: 9.125rem;
    margin-bottom: 6.25rem;
  }
  .title {
    text-align: center;
    width: fit-content;
    text-transform: uppercase;
    font-size: var(--fs-16);
    color: var(--text-color-tertiary);
  }
  .description {
    font-size: var(--fs-14);
    color: var(--text-color-secondary);
    text-align: center;
    margin-bottom: 4rem;
  }

  .custom-list {
    counter-reset: list-counter;
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    margin-bottom: 12rem;
  }

  .custom-list li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1.33rem;
    width: fit-content;
    display: inline-block;
    color: var(--text-color-tertiary);
  }

  .custom-list li::before {
    content: "(" counter(list-counter) ")";
    position: absolute;
    left: 0;
    font-weight: 600;
    color: var(--brand-color);
  }
  @media (max-width: 455px) {
    .section__title {
      font-size: var(--fs-46);
      line-height: var(--lh-46);
      letter-spacing: 0;
    }
  }
</style>
