<h2>Простая и прозрачная организация</h2>
<ol class="custom-list">
  <li>
    <div class="title">Живая встреча</div>
    <div class="description">
      Первая встреча решает все! Важно понять образовалось ли между нами доверие
      и понимание процесса работы, ведь впереди нас ждет увлекательная
      подготовка к вашему главному дню!
    </div>
  </li>
  <li>
    <div class="title">Живая встреча</div>
    <div class="description">
      Первая встреча решает все! Важно понять образовалось ли между нами доверие
      и понимание процесса работы, ведь впереди нас ждет увлекательная
      подготовка к вашему главному дню!
    </div>
  </li>
  <li>
    <div class="title">Живая встреча</div>
    <div class="description">
      Первая встреча решает все! Важно понять образовалось ли между нами доверие
      и понимание процесса работы, ведь впереди нас ждет увлекательная
      подготовка к вашему главному дню!
    </div>
  </li>
  <li>
    <div class="title">Живая встреча</div>
    <div class="description">
      Первая встреча решает все! Важно понять образовалось ли между нами доверие
      и понимание процесса работы, ведь впереди нас ждет увлекательная
      подготовка к вашему главному дню!
    </div>
  </li>
  <li>
    <div class="title">Живая встреча</div>
    <div class="description">
      Первая встреча решает все! Важно понять образовалось ли между нами доверие
      и понимание процесса работы, ведь впереди нас ждет увлекательная
      подготовка к вашему главному дню!
    </div>
  </li>
  <li>
    <div class="title">Живая встреча</div>
    <div class="description">
      Первая встреча решает все! Важно понять образовалось ли между нами доверие
      и понимание процесса работы, ведь впереди нас ждет увлекательная
      подготовка к вашему главному дню!
    </div>
  </li>
  <li>
    <div class="title">Живая встреча</div>
    <div class="description">
      Первая встреча решает все! Важно понять образовалось ли между нами доверие
      и понимание процесса работы, ведь впереди нас ждет увлекательная
      подготовка к вашему главному дню!
    </div>
  </li>
</ol>
<style>
  h2 {
    margin-top: 146px;
    margin-bottom: 100px;
  }
  .title {
    font-size: var(--fs-16);
  }
  .description {
    font-size: var(--fs-14);
  }

  .custom-list {
    counter-reset: list-counter;
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
  }

  .custom-list li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 40px;
    margin-bottom: 64px;
  }

  .custom-list li::before {
    content: "(" counter(list-counter) ")";
    position: absolute;
    left: 0;
    font-weight: 600;
    color: #3498db;
  }
</style>
