---
import "../styles/normalize.css";
import "../styles/scroll.css";
import "../styles/styles.css";
import Navigation from "../components/Navigation.astro";

const { title } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Martu — организация свадьбы под ключ в Москве"
    />
    <meta name="theme-color" content="#f8f2e9" />
    <meta
      name="keywords"
      content="агентство по организации свадеб, где заказать услуги по организации свадеб, заказать организацию свадьбы, Лучшие свадебные агенства, организация и проведение свадеб, организация идеальной свадьбы, организация свадеб москва под ключ, организация свадьбы, организация свадьбы под ключ, организация свадьбы под ключ в москве заказать, организация свадьбы под ключ недорого, организация свадьбы в москве, свадебная организация свадьбы, свадебное агентство, свадебное агентство москва, свадебное агентство свадьба, свадьба организация где, топ свадебных агентств, услуги по организации свадьбы"
    />

    <meta property="og:title" content="Martu — Свадебное агентство" />
    <meta
      property="og:description"
      content="Организация свадьбы под ключ в Москве."
    />
    <meta property="og:image" content="/og-image.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:url" content="https://agencymartu.ru" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Martu Agency" />
    <meta property="og:locale" content="ru_RU" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Martu Agency" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Martu Agency" />
    <meta
      name="twitter:description"
      content="Организация свадьбы под ключ в Москве."
    />
    <meta name="twitter:image" content="/og-image.jpg" />

    <link rel="canonical" href="https://agencymartu.ru" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
  <script>
    function updateScale() {
      const baseWidth = 1440;
      const baseHeight = 900;
      const baseFont = 16; // px

      if (window.innerWidth < 1025) {
        // мобилка → фиксированное значение
        document.documentElement.style.setProperty("--size-font", `16px`);
        return;
      }
      const scale = Math.min(
        window.innerWidth / baseWidth,
        window.innerHeight / baseHeight
      );

      document.documentElement.style.setProperty(
        "--size-font",
        `${baseFont * scale}px`
      );
    }

    // при загрузке и ресайзе
    window.addEventListener("resize", updateScale);
    window.addEventListener("load", updateScale);
  </script>
</html>
