---
import "../styles/styles.css";
import Navigation from "../components/Navigation.astro";

const { title } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="src/assets/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
  <script>
    function updateScale() {
      const baseWidth = 1440;
      const baseHeight = 900;
      const baseFont = 16; // px

      if (window.innerWidth < 768) {
        // мобилка → фиксированное значение
        document.documentElement.style.setProperty("--size-font", `16px`);
        return;
      }

      const scale = Math.min(
        window.innerWidth / baseWidth,
        window.innerHeight / baseHeight
      );

      document.documentElement.style.setProperty(
        "--size-font",
        `${baseFont * scale}px`
      );
    }

    // при загрузке и ресайзе
    window.addEventListener("resize", updateScale);
    window.addEventListener("load", updateScale);
  </script>
</html>
