---
interface Props {
  id: string;
  index: string;
  cssClass?: string;
}
const { id, index, cssClass = "section" } = Astro.props;
console.log(cssClass);
---

<section
  id={id}
  class={`desktop ${cssClass}`}
  data-nav-section
  data-section-index={index}
  data-section
>
  <div class="section__column">
    <slot name="left-column-background" />
    <slot name="left-column" />
  </div>

  <div class="section__column">
    <slot name="right-column-background" />
    <slot name="right-column" />
  </div>
</section>
