---
import { db, Group } from "astro:db";

if (Astro.request.method === "POST") {
  const form = await Astro.request.formData();
  const title = form.get("title") as string;
  const link = form.get("link") as string;

  if (!title || !link) {
    return new Response("Поля не могут быть пустыми", { status: 400 });
  }

  await db.insert(Group).values({ title, link });

  return Astro.redirect("/admin");
}

export const prerender = false;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/src/styles/admin.css" />
    <title>Создать группу</title>
  </head>
  <body>
    <div class="container">
      <h1>Создать новую группу</h1>

      <form method="post">
        <label for="title">Название группы</label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Введите название"
          required
        />

        <label for="link">Уникальная ссылка</label>
        <input
          type="text"
          name="link"
          id="link"
          placeholder="Введите уникальную ссылку"
          required
        />

        <button type="submit">Создать группу</button>
      </form>

      <p><a href="/admin">← Назад в админку</a></p>
    </div>
  </body>
</html>
